{% extends 'base.html' %}
{% block title %}Quory | Unanswered{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>Questions For You</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Question One</h4>
                    <p class="list-group-item-text">Asked by: Herbert</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Question Two</h4>
                    <p class="list-group-item-text">Asked by: Herbert</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Question Three</h4>
                    <p class="list-group-item-text">Asked by: Herbert</p>
                </a>
            </div>
        </div><!-- /.col-lg-12 -->
    </div>

</div> <!-- /container -->
{% endblock %}
